@{
    ViewData["Title"] = "Saç Stili Uygula";
}

<div class="container" style="color:white">
    <h1>Saç Stili Uygula</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="AI" asp-action="ApplyHairStyle">
        <div class="mb-3">
            <label for="imageFile" class="form-label" style="color:white">Görsel Yükle</label>
            <input type="file" name="imageFile" id="imageFile" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="hairStyle" class="form-label" style="color:white">Saç Stili Seçin</label>
            <select name="hairStyle" id="hairStyle" class="form-control" required>
                <option value="" disabled selected>Saç stili seçiniz</option>
                <option value="101">Kakül (varsayılan)</option>
                <option value="201">Uzun saç</option>
                <option value="301">Kakül ve uzun saç</option>
                <option value="401">Orta saç artışı</option>
                <option value="402">Hafif saç artışı</option>
                <option value="403">Yoğun saç artışı</option>
                <option value="502">Hafif kıvırma</option>
                <option value="503">Yoğun kıvırma</option>

            </select>
        </div>

        <button type="submit" class="btn btn-primary">Stil Uygula</button>
    </form>
</div>
