@model string

<div class="container">
    <h2>Stil Transferi Sonucu</h2>
    <img src="@Model" alt="Stil Transfer Sonucu" class="img-fluid" />
    <a href="/" class="btn btn-primary">Yeni bir görsel dene</a>
</div>
