@model string

<div class="container">
    <h2>Saç Stili Sonucu</h2>
    <img src="@Model" alt="Sonuç Görseli" class="img-fluid" />
    <a href="/" class="btn btn-primary">Başka bir görsel dene</a>
</div>
