
@{
    ViewData["Title"] = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-4">
            <button onclick="window.location.href='@Url.Action("RolEkleme", "Home")'" class="btn btn-primary">
                ROL EKLEMEK İCİN TIKLAYIN
            </button>
        </div>


        <div class="col-4">
            <button onclick="window.location.href='@Url.Action("SalonEkleme", "Home")'" class="btn btn-primary">
                SALON EKLEMEK İCİN TIKLAYIN
            </button>
        </div>
      
    </div>

</div>

