@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ana layout dosyası belirtiliyor.
}

<!-- Kapak Fotoğrafı -->
<div class="container-fluid p-0 m-0 bg-black">
    <img src="~/İmages/kapakfoto.jpg" alt="Kapak Fotoğrafı" class="img-fluid img-thumbnail bg-black border-0" />
</div>

<!-- Biz Kimiz Bölümü  -->
<div class="container-fluid mt-5">
    <h1 class="text-center text-white">BİZ KİMİZ?</h1>
    <div class="row mt-4">
        <!-- Sol Bölüm: Görsel -->
        <div class="col-sm-6 col-md-4 text-center">
            <img src="~/İmages/anasayfaresim1.jpg" alt="Anasayfa Resim 1" class="img-fluid rounded-3"
                 style="height: 400px; width: 300px;" />
        </div>

        <!-- Sağ Bölüm: Açıklama Metni -->
        <div class="col-sm-4 col-md-6 mt-3 text-white text-center">
            <p>
                WEB SİTEME HOŞGELDİNİZ.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quibusdam possimus nemo commodi
                officia ratione fugiat unde esse voluptas repudiandae similique dolore, repellat earum laboriosam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quibusdam possimus nemo commodi
                officia ratione fugiat unde esse voluptas repudiandae similique dolore, repellat earum laboriosam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quibusdam possimus nemo commodi
                officia ratione fugiat unde esse voluptas repudiandae similique dolore, repellat earum laboriosam!
            </p>
        </div>
    </div>
</div>
