
@{
    ViewData["Title"] = "CalisanEkleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Calisan

<form asp-controller="Home" asp-action="CalisanEkleme" method="post">
    <div class="form-group text-white">
        <label asp-for="AdSoyad">AD SOYAD:</label>
        <input type="text" asp-for="AdSoyad" class="form-control" />
        <span asp-validation-for="AdSoyad" class="text-danger"></span>
    </div>

    <div class="form-group text-white">
        <label asp-for="SalonId">SALON:</label>
        <select asp-for="SalonId" class="form-control" asp-items="ViewBag.SalonList"></select>
        <span asp-validation-for="SalonId" class="text-danger"></span>
    </div>

    <div class="form-group text-white">
        <label asp-for="RolId">Rol:</label>
        <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolList"></select>
        <span asp-validation-for="RolId" class="text-danger"></span>
    </div>

    <div class="form-group text-white">
        <label asp-for="IslemId">ISLEM :</label>
        <select asp-for="IslemId" class="form-control" asp-items="ViewBag.IslemList"></select>
        <span asp-validation-for="IslemId" class="text-danger"></span>
    </div>

    <div class="form-group pt-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>



