
@{
    ViewData["Title"] = "RandevuEkleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">  
    <div class="row">
        <div class="col-4">
            <button onclick="window.location.href='@Url.Action("RandevuGoruntuleme", "Home")'" class="btn btn-primary">
              RANDEVUNUZU GORUNTULEMEK İCİN TIKLAYINIZ.
            </button>
        </div>


        <div class="col-4">
            <button onclick="window.location.href='@Url.Action("RandevuAlma", "Home")'" class="btn btn-primary">
                RANDEVU ALMAK İCİN TIKLAYIN
            </button>
        </div>
        <div class="col-4">
            <button onclick="window.location.href='@Url.Action("Logout", "Home")'" class="btn btn-primary">
             CİKİS YAPMAK İCİN TIKLAYIN
            </button>
        </div>


        
    </div>

</div>

